root = true

# FORCE LOW RISK SUPPRESSION
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1069.severity = none
dotnet_diagnostic.CA1008.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1848.severity = none

# MEDIUM RISK
dotnet_diagnostic.CA1002.severity = warning
dotnet_diagnostic.CA2227.severity = warning
dotnet_diagnostic.CA2007.severity = suggestion

# Global fallback
[*]
dotnet_analyzer_diagnostic.severity = warning
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1848.severity = none
